.answers-wrapper{
  padding: 10px;
  margin: 10px auto;
  background-color: #fafafa;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px auto;
}

.answers ul li p {
  white-space:pre-wrap;
}

.answered_by {
  align-self: flex-end;
}

.answer-controls {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin: 10px 0;
  gap: 10px 0;
}

.answer-controls .like-btn, .answer-controls .delete-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.answer-controls .liked {
  background-color: lawngreen;
  cursor:not-allowed;
}

.answer-controls button {
  outline: none;
  border: none;
  padding: 10px;
  margin: 5px;
  background-color: #eee;
  border-radius: 5px;
}

.answer-controls .like-btn {
  width: 50px
}

.answer-controls .delete-btn {
  width: 40px
}

.answer-controls button:hover{
  transform: scale(0.98);
}

.answer-controls button:disabled {
  cursor:not-allowed;
}

.answer-controls .delete-btn:hover {
  background-color: #dd2c00;
  color: #fff;
}

.answer-controls .like-btn:hover {
  background-color: #43a047;
  color: #fff;
}