.question-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question, .askedby, .addons {
  font-family: 'Poppins', sans-serif;
}

.question{
  font-weight: bold;
}

.info{
  white-space: pre-wrap;
}

.askedby {
  align-self: flex-end;
  color: rgba(0, 0, 0, 0.7);
}

.answerForm {
  display: grid;
  gap: 0 10px;
  align-items: center;
  grid-template-columns: 70% 25%;
  margin: 10px;
}

.answerForm [type="text"], .answerForm [type="submit"] {
  outline: none;
  border: solid 1px #000;
  padding: 5px;
  border-radius: 2px;
}

.answerForm [type="text"]::placeholder {
  font-size: 14px;
}

.answerForm [type="submit"] {
  border: solid 1px #fff;
  background-color: #3D5AFE;
  color: #fff;
}

.answerForm [type="submit"]:hover {
  background-color: seagreen;
}

.answers-count{
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
}

.addons a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.addons a:hover {
  color: #3D5AFE;
}

.answer-field {
  padding: 5px;
}