.main-wrapper{
  width: 90%;
  height: auto;
  margin: 5px auto;
}

.query-wrapper {
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 5px auto;
  display: grid;
  place-items: center;
}

.queryfield-wrapper{
  margin: 10px;
  width: 80%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #eee;
}

.ask-question__btn{
  outline: none;
  border: solid 2px seagreen;
  background-color:seagreen;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
}

.ask-question__btn:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 420px){
  .main-wrapper {
    width: 98%;
  }
  .query-wrapper{
    width: 100%;
  }
  .queryfield-wrapper{
    width: 100%;
  }
  .wrapper {
    padding: 10px;
  }
}

@media screen and (min-width: 421px) and (max-width: 650px){
  .main-wrapper {
    width: 95%;
  }
  .query-wrapper{
    width: 100%;
  }
  .queryfield-wrapper{
    width: 100%;
  }
  .wrapper {
    padding: 10px;
  }
}